<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Working With Time Series Data

---

# Independent Practice

**Instructor Note**: These are optional and can be assigned as student practice questions outside of class.

### 1) Create a `datetime` object representing today's date.

In [1]:
from datetime import datetime
from datetime import timedelta

# Time this lesson plan was written:
lesson_date = datetime(2018, 2, 25, 23, 31, 1, 844089)

In [2]:
print(lesson_date)

2018-02-25 23:31:01.844089

### 2) Load the UFO data set from the internet.

In [3]:
import pandas as pd
from datetime import timedelta
%matplotlib inline

ufo = pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

### 3) Convert the `Time` column to a `datetime` object.

In [6]:
ufo['Time'] = pd.to_datetime(ufo.Time)

In [7]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [8]:
ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

### 4) Set the `Time` column to the index of the DataFrame.

In [9]:
ufo.set_index('Time', inplace=True)

In [10]:
ufo.head()

                                     City Colors Reported Shape Reported State
Time
1930-06-01 22:00:00                Ithaca             NaN       TRIANGLE    NY
1930-06-30 20:00:00           Willingboro             NaN          OTHER    NJ
1931-02-15 14:00:00               Holyoke             NaN           OVAL    CO
1931-06-01 13:00:00               Abilene             NaN           DISK    KS
1933-04-18 19:00:00  New York Worlds Fair             NaN          LIGHT    NY

### 5) Create a `timestamp` object for the date January 1, 1999.

In [11]:
ts = pd.to_datetime('1/1/1999')

### 6) Use the `timestamp` object to perform logical filtering on the DataFrame and create a subset of entries with a date above or equal to January 1, 1999.

In [12]:
recent_ufos = ufo.loc[ufo.index >= ts, :]

In [13]:
recent_ufos.head()

                                  City Colors Reported Shape Reported State
Time
1999-01-01 02:30:00          Loma Rica             NaN          LIGHT    CA
1999-01-01 03:00:00            Bauxite             NaN            NaN    AR
1999-01-01 14:00:00           Florence             NaN       CYLINDER    SC
1999-01-01 15:00:00       Lake Henshaw             NaN          CIGAR    CA
1999-01-01 17:15:00  Wilmington Island             NaN          LIGHT    GA